@page "/"

<PageTitle>Home</PageTitle>

<header>
    <h1> Carlos Eduardo de Lima Fiorello Fernandes </h1>
    <p> dudufiorellolima@gmail.com | Telefone (69) 99217-7860 </p>
</header>

<div class="container">
    <section>
        <p>Busco desenvolver coisas e aprender a desenvolver coisas pois deselvolver e legal.</p>
    </section>

    <section>
        <h2>Formação Acadêmica</h2>
        <p>Técnico em Informática – Escola Instituto Federal de ciências e tecnologia ifro campus jíparana (2025)</p>
    </section>

    <section>
        <h2>Experiencia obtidas no curso Técnico</h2>
        <p><strong>faço estagio no Spaço maker </strong> (inicio 2024)</p>
        <ul>
            <li>Desenvolvimento de softwares</li>
            <li>Manutenção de computadores</li>
            <li>Instalação de softwares e sistemas</li>
        </ul>
    </section>

    <section>
        <h2>Contéudos trabalhados em praticas Técnicas</h2>
        <ul>
            <li>HTML, CSS, JavaScript</li>
            <li>Redes de Computadores</li>
            <li>Banco de Dados (MySQL)</li>
            <li>Git e GitHub</li>
        </ul>
    </section>

    <section>
        <h2>Idiomas</h2>
        <ul>
            <li>Português: Nativo</li>
            <li>Inglês: triste</li>
        </ul>
    </section>
</div>
